<html>

<head>
<link rel="stylesheet" type="text/css" href="../style/style.css" />
<script type="text/javascript"> 
   if (top == self) top.location = "../index.html";
</script>
<meta http-equiv="cache-control" content="max-age=86400">
</head>

<body>

    <a name="manual"></a>
    <h3>Manual installation from console</h3>
    <ul>
      <li>Install prerequisits:<br/><br/>
        <ul><code>apt-get -y install perl-base libdevice-serialport-perl libwww-perl libio-socket-ssl-perl libcgi-pm-perl libjson-perl sqlite3 libdbd-sqlite3-perl libtext-diff-perl libtimedate-perl libmail-imapclient-perl libgd-graph-perl libtext-csv-perl libxml-simple-perl liblist-moreutils-perl ttf-liberation libimage-librsvg-perl libgd-text-perl libsocket6-perl libio-socket-inet6-perl libmime-base64-perl libimage-info-perl libusb-1.0-0-dev libnet-server-perl</code></ul></li><br/>
      <li>Download latest stable package:<br/><br/>
        <ul><code>wget http://fhem.de/fhem-==MAJOR==.deb</code></ul></li><br/>
      <li>Install package:<br/><br/>
        <ul><code>dpkg -i fhem-==MAJOR==.deb</code></ul></li><br/>
      <li>If you want to add the fhem user manually, just run the following command::<br/><br/>
        <ul><code>useradd --system --home /opt/fhem --gid dialout --shell /bin/false fhem</code></ul></li><br/>
      <li>You can find the init-script as /opt/fhem/contrib/init-scripts/fhem.3 and copy this to /etc/init.d/fhem<br/><br/>
        <ul><code>cp /opt/fhem/contrib/init-scripts/fhem.3 /etc/init.d/fhem<br/>
                  chmod a+x /etc/init.d/fhem<br/>
                  update-rc.d fhem defaults</code></ul></li>
    </ul>
    <br/>
  
</body>
</html>
