body     { background-color: #FFFFE7;
           font-family:Arial, sans-serif; font-size:16px;}
input    { font-family:Arial, sans-serif; font-size:16px; }
select   { font-family:Arial, sans-serif; font-size:16px; }

#werbefrei { margin-top:10px; margin-left:30px; width:120px; 
           content:url(../grafik/werbefrei.png); }

#aws     { margin-top:10px; margin-left:30px; width:120px; height:45px; 
           content:url(../grafik/aws.png); }
#nocookies { margin-top:10px; margin-left:30px; width:120px; 
           content:url(../grafik/cookies_free.png); }
#logo    { margin-top:10px; margin-left:30px; width:120px; height:132px;
           background-image:url(../grafik/fhemicon.png); }
#menu    { margin-top:10px; margin-left:20px; width:140px; }
#menuScrollArea { width: 175px; left:0px; top:0px; height:100%; 
                  position:fixed; overflow-x:hidden; overflow-y:auto; } 

#hdr     { position:absolute; top:10px; left:180px; }
#content { position:absolute; top:50px; left:180px; bottom:20px; right:10px; }

#connect_err { background-color: #000000; color: #FFFFFF; 
               position:absolute; top:0px; left:40px; z-index: 10; }
.devType { padding-top:20px; }

a     { color: #278727; }
a_s   { color: #278727; font-size: 75%; }
p.a   { color: #278727; text-align: center; }
p.a_s { color: #278727; text-align: center; font-size: 75%; }

img {  border-style: none; }

.wide { width:100%; }

table.block { border:1px solid gray; background: #F8F8E0; }
table.block tr.odd { background: #F0F0D8; }
table.block tr.sel { background: #F0F0D8; }
table { border-radius:8px; }

table.room { border:1px solid gray; width: 100%; background: #D7FFFF; }
table.room tr.sel { background: #A0FFFF; }

#right { position:absolute; top:0px; left:180px; width:80%; height:100%; }

h2,h3,h4 { color:#52865D; line-height:1.3;
           margin-top:1.5em; font-family:Arial,Sans-serif; }
div.dist { padding-top:0.3em; }
div.clock { }
button.dist { margin:10px; background:transparent; border:0px; cursor:pointer; }

a img { border-style:none; }
.col2 { text-align:center; }

pre { white-space: pre-wrap; }

