@import url("dashboard_darkstyle.css");

table.readings td:nth-child(2) { word-break: break-all; }

/* jQuery-UI mods */
div.ui-dialog { border:3px solid white; padding: 0.2em; }
div.ui-dialog div.ui-dialog-titlebar { display:none; }
div.ui-widget-content { background:#444444; color:#CCCCCC; }
div.ui-widget-content a {color: #CCCCCC!important; text-decoration: none!important;}
.ui-widget { font-family:Arial,sans-serif!important; }
.ui-button-text { font-weight:normal!important; color:#555!important; }

div.detLink { display:inline-block; margin-right:0.5em; }

.fhemlog { color:#FFFFFF; }

svg.zw_nr .zwBox { stroke:#fff; stroke-width:2px; fill:#000; }
svg.zw_nr .zwDongle { stroke:red; stroke-width:2px; fill:#000; }
svg.zw_nr .zwMargin { stroke:#fff; stroke-width:1px; fill:none; }
svg.zw_nr .zwLine { stroke:#fff; stroke-width:1px; }
svg.zw_nr .zwArrowHead { fill:#fff; stroke-width:1px; }
svg.zw_nr { height:auto; width:auto; margin:0; }

#errmsg { background-color: #000000; color: #FFFFFF;
          position:fixed; top:0px; left:40px; z-index: 10; }

