/* Author: Till */
body     { background-color: #444444; background-image:url(../icons/darklogo); background-repeat:no-repeat; color: #CCCCCC; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
#logo    { position:absolute; top:10px; left:20px; width:140px; visibility:hidden; }
#menu    { position:absolute; top:170px;left:20px; width:140px; }
#hdr     { position:absolute; top:10px; left:180px; }
#content { position:absolute; top:50px; left:180px; bottom:20px; right:10px; }
#connect_err { background-color: #000000; color: #FFFFFF; position:absolute; top:0px; left:40px; z-index: 10; }

a { color: #CCCCCC; text-decoration: none;}
a:hover { color: #ffffff; }
table.block { border:1px solid #ffffff; width: 100%;
              background: #333333; box-shadow:5px 5px 5px #000; }
table.block tr.odd { background: #111111; }
table.block tr.sel { background: red; }
table { border-radius:8px; border-spacing: 0px;
       padding-bottom: 6px; padding-top: 6px;}

table#room { background: #111111; width: 140px;}
table#room a { color: #CCCCCC; text-decoration: none; }
table#room a:hover { color: #ffffff; }        
table#room tr.sel { background: red; }
th {color:red; text-align: left; padding-left: 10px; font-weight: bold;}
td {padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;}
input {outline:none; background-color: #111111; 
       border: 1px solid #ffffff; color: #cccccc; padding:5px;
       margin-left: 10px; border-radius:8px; box-shadow: 5px 5px 5px #000000;}
input:focus {border: 1px solid red;}

textarea {min-width:1000px; background-color: #111111;
          border: 1px solid #ffffff; color: #cccccc;
          padding:5px; margin-left: 10px;
          border-radius:8px; box-shadow: 5px 5px 5px #000000;}

/*
next lines are for commandref and faq
*/
#left  { position:absolute; top:140px; left:60px; width:140px; }
#right { position:absolute; top:20px; left:200px; bottom:20px;
right:10px; }
body>div#left { position:fixed; }
div#block { border:1px solid gray; background: #101010; padding:0.7em; }
div#dist { padding-top:0.3em; }
h2,h3,h4 { color:#EEE; line-height:1.3; margin-top:1.5em; font-family:Verdana; } 

select.attr,input.attr,select.set,input.set { margin-bottom:10px; }
a img { border-style:none; }

/* detail-selector & slider */
select {  margin-left:5px; margin-right:5px; }
.set,.attr { margin-bottom:5px; float:left; }
.slider { margin-left:10px; float:left; width:250px; height:26px; }
.set .slider { background:#101010; border-radius:8px; }
/* timepicker */
.set .set { margin-bottom:2px; margin-top:3px; }

.handle { position:relative; cursor:pointer; width:50px; height:20px;
          line-height:20px; border:2px solid; color:white; text-align:center; }
.downText { margin-top:2px; }
