/* Author: svenson08*/
.dashboard_buttonbar { background: none repeat scroll 0 0 #333333; border: 1px solid #FFFFFF;
         box-shadow: 5px 5px 5px #000000; padding: 4px; border-radius: 8px 8px 8px 8px; float: left;}
.dashboard_button { border-radius: 8px; float: left; color: #1c94c4; font-weight: bold; font-size: 0.8em; background-repeat:no-repeat;
          background-position: 4px 2px; border: 1px solid #cccccc; padding: 0.2em 0.7em 0.2em 0.4em; }
.dashboard_button_changed { color: red; font-weight:bold; }

.dashboard_column { float: left; }
.dashboard_columnhelper { border: 1px dotted #CCCCCC; }

.dashboard_widget { border-radius: 8px; float: left; } 
.dashboard_widgethelper { background-color: #111111; }
.dashboard_widgetheader { background: none repeat scroll 0 0 #333333; border: 1px solid #FFFFFF;
          box-shadow: 5px 5px 5px #000000; border-radius: 8px; margin: 0.2em; 
          padding-bottom: 4px; padding-top: 3px; padding-left: 0.7em;  }
.dashboard_content { padding: 0.2em; }

.dashboard_button_icon { width: 13px; height: 14px; background-repeat: no-repeat; 
            float: left; background-image: url(../images/default/dashboardicons.png); }  
.dashboard_button_iconplus { margin: 0.1em 0.4em; float: right; background-position: -65px 0px; }
.dashboard_button_iconminus { margin: 0.1em 0.4em; float: right; background-position: -52px 0px; }
.dashboard_button_iconset { background-position: -26px 0px; }  
.dashboard_button_iconlock { background-position: 0px 0px; }
.dashboard_button_iconunlock { background-position: -13px 0px; }
.dashboard_button_icondetail { background-position: -39px 0px; }

.ui-resizable { position: relative; }
.ui-resizable-handle { position: absolute; font-size: 0.1px; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px;
           bottom: 1px; background-image: url(../images/default/dashboardicons.png); 
           background-position: -78px 0px; background-repeat: no-repeat; }
.ui-sortable-placeholder { border: 1px dotted #FFFFFF;  visibility: visible !important; 
               height: 25px !important; width: 150px; }
