Code: [Auswählen]
/* Author: svenson08 edit by fhainz */
.dashboard_buttonbar { padding: 6px 6px 6px 0; margin: 0 .5em 0 0; float: left;}
.dashboard_buttonbar_top, .dashboard_buttonbar_bottom { }
.dashboard_button { float: left; background-color: #fff; font-size: 0.8em; background-repeat:no-repeat;
					background-position: 4px 2px; border: 1px solid #808080; padding: 0.2em 0.7em 0.2em 0.4em; }
#dashboard_button_set { color: black; cursor: default; }
#dashboard_button_set.dashboard_button_changed { color: #147bff; cursor: pointer; }

a,li { outline: none; }

.dashboard_column { float: left; }
.dashboard_columnhelper { border: 1px dotted #808080; }

.dashboard_widget { float: left; } 
.dashboard_widgethelper { background-color: #a6a6a6; }
.dashboard_widgetheader { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #d9d9d9;
					margin: 0.2em; 
					padding-bottom: 2px; padding-top: 3px; padding-left: 0.5em;	}
.dashboard_content { padding: 0.2em; }

.dashboard_button_icon { width: 13px; height: 14px; background-repeat: no-repeat; 
						float: left; background-image: url(../images/default/dashboardicons.png); }	
.dashboard_button_iconplus { margin: 0.1em 0.4em; float: right; background-position: -65px -16px; }
.dashboard_button_iconminus { margin: 0.1em 0.4em; float: right; background-position: -52px -16px; }
.dashboard_button_iconset { background-position: -26px -16px; }	
.dashboard_button_iconlock { background-position: -0px -16px; }
.dashboard_button_iconunlock { background-position: -13px -16px; }
.dashboard_button_icondetail { background-position: -39px -16px; }
.dashboard_button_iconback { margin: 0.1em 0.4em; float: right; background-position: -91px -16px; }

.ui-resizable { position: relative; }
.ui-resizable-handle { position: absolute; font-size: 0.1px; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px;
				   bottom: 1px; background-image: url(../images/default/dashboardicons.png); 
				   background-position: -78px -16px; background-repeat: no-repeat; }
.ui-sortable-placeholder { border: 1px dotted #d9d9d9;  visibility: visible !important; 
						   height: 25px !important; width: 150px; }

/* Neue CSS Einträge für Dashboard-Tabs */						
.dashboard { padding: 0; margin: 0; }
.dashboard_tabnav {	list-style: none; margin: 0; padding: 0 .5em 0; }
.dashboard_tabnav:before,
.dashboard_tabnav:after { content: ""; display: table; border-collapse: collapse; clear: both; }
.dashboard_tabpanel { }
.dashboard_tab_top { border: 1px solid #cccccc; text-align:center; min-width:9%; margin: 0 .5em -1px 0; float: left; padding: .5em 1em; }
.dashboard_tab_top a { color:#929292; }
.dashboard_tab_top.ui-tabs-active { }
.dashboard_tab_top.ui-tabs-active a { color:#147bff; }
.dashboard_tab_bottom { border: 1px solid #cccccc; text-align:center; min-width:9%; margin: 0 .5em -1px 0; float: left; padding: .5em 1em; }
.dashboard_tab_bottom a { color:#929292; }
.dashboard_tab_bottom.ui-tabs-active { }
.dashboard_tab_bottom.ui-tabs-active a { color:#147bff; }
.dashboard_tabicon {width: 16px; height: 16px; vertical-align: top; margin-left: -0.5em; margin-top: 0.1em; }
svg.dashboard_tabicon { fill:#929292; }
.ui-tabs-active svg { fill:#147bff; }
.dashboard_tabcontent { width: 100%; padding: 0; margin: 0; }

.dashboard_row { width: 100%; height: inherit; }
.dashboard_columncenter { height: inherit;}