/* iOS 12 Theme for FHEM */
/* by Sandra Ohmayer */
/* http://www.foodcat.de */

.background { fill:#f7f7f7; 
}

text { 
font: normal 10px Helvetica, Sans-serif;
fill:#000000;}
text.title {
font: normal 14px Helvetica, Sans-serif;
font-weight:bold;
fill:#4c566c;
text-shadow: 0px 1px #FFFFFF;
}

text.legend{ cursor:pointer; }
text.copy  { text-decoration:underline; stroke:none; fill:blue; cursor:pointer;}
text.paste { text-decoration:underline; stroke:none; fill:blue; cursor:pointer;}


path.SVGplot     { stroke:black; fill:none; }
polyline.SVGplot { stroke:black; fill:none; }
.border  { stroke:black; fill:url(#gr_bg);}
.vgrid   { stroke:gray; stroke-dasharray:2,6;}
.hgrid   { stroke:gray; stroke-dasharray:2,6;}
.pasted  { stroke:black; stroke-dasharray:1,1;}

.SVGplot.l0     { stroke:red;     }  
.SVGplot.l1     { stroke:green;   }  
.SVGplot.l2     { stroke:blue;    }  
.SVGplot.l3     { stroke:magenta; }  
.SVGplot.l4     { stroke:brown;   }  
.SVGplot.l5     { stroke:black;   }  
.SVGplot.l6     { stroke:olive;   }  
.SVGplot.l7     { stroke:gray;    }  
.SVGplot.l8     { stroke:yellow;  }  
.SVGplot.l0fill { stroke:#f00; fill:url(#gr_0); }
.SVGplot.l1fill { stroke:#291; fill:url(#gr_1); }
.SVGplot.l2fill { stroke:#00f; fill:url(#gr_2); }
.SVGplot.l3fill { stroke:#f0f; fill:url(#gr_3); }
.SVGplot.l4fill { stroke:#ff0; fill:url(#gr_4); }
.SVGplot.l5fill { stroke:#0ff; fill:url(#gr_5); }
.SVGplot.l6fill { stroke:#000; fill:url(#gr_6); }
.SVGplot.l0dot  { stroke:red;   stroke-dasharray:2,4; }
.SVGplot.l1dot  { stroke:green; stroke-dasharray:2,4; }
.SVGplot.l0fill_stripe { stroke:red; fill:url(#gr0_stripe);}
.SVGplot.l1fill_stripe { stroke:green; fill:url(#gr1_stripe);}
.SVGplot.l0fill_gyr    { stroke:red; fill:url(#gr0_gyr);}

text.SVGplot.l0     { stroke:none; fill:red;     } 
text.SVGplot.l0     { stroke:none; fill:red;     } 
text.SVGplot.l1     { stroke:none; fill:green;   } 
text.SVGplot.l2     { stroke:none; fill:blue;    }
text.SVGplot.l3     { stroke:none; fill:magenta; }
text.SVGplot.l4     { stroke:none; fill:brown;   }
text.SVGplot.l5     { stroke:none; fill:black;   }
text.SVGplot.l6     { stroke:none; fill:olive;   }
text.SVGplot.l7     { stroke:none; fill:gray;    }
text.SVGplot.l8     { stroke:none; fill:yellow;  }
text.SVGplot.l0fill { stroke:none; fill:#f00; }
text.SVGplot.l1fill { stroke:none; fill:#291; }
text.SVGplot.l2fill { stroke:none; fill:#00f; }
text.SVGplot.l3fill { stroke:none; fill:#f0f; }
text.SVGplot.l4fill { stroke:none; fill:#ff0; }
text.SVGplot.l5fill { stroke:none; fill:#0ff; }
text.SVGplot.l6fill { stroke:none; fill:#000; }
text.SVGplot.l0dot  { stroke:none; fill:red;     } 
text.SVGplot.l1dot  { stroke:none; fill:green;   } 
text.SVGplot.l0fill_stripe {stroke:none; fill:red;  }
text.SVGplot.l1fill_stripe {stroke:none; fill:green;}
text.SVGplot.l0fill_gyr    {stroke:none; fill:red;  }
