/* iOS 6 Theme for FHEM */
/* by Sandra Ohmayer */
/* http://www.animeschatten.net */
@import url("svg_style.css");

.background { fill:#f7f7f7; 
}

text { 
font: normal 10px Helvetica, Sans-serif;
fill:#000000;}
text.title {
font: normal 14px Helvetica, Sans-serif;
font-weight:bold;
fill:#4c566c;
text-shadow: 0px 1px #FFFFFF;
}
text.legend{ cursor:pointer; }
text.copy  { text-decoration:underline; stroke:none; fill:blue; cursor:pointer;}
text.paste { text-decoration:underline; stroke:none; fill:blue; cursor:pointer;}
