body     { background-color: #F0F0F0;
           font-family:Arial, sans-serif; 
           font-size:9px; 
           background-repeat:no-repeat;  }

body[id~=Media]     { background-color: #A5A5A5;
                        font-family:Arial, sans-serif; 
                        font-size:9px;  
                        background-image:url(../icons/Media.bak);
                        background-repeat:no-repeat;  }

#logo    { position:absolute; top: 10px; left: 10px; 
           width:64px;  height:67px; background-image:url(../icons/fhem_smallscreen); }
#backimg {position:absolute; top:15px; left:190px;}
#menu    { position:absolute; top:120px; left:20px; min-width:60px; }
#menu.floorplan   { position:absolute; top:120px; left:20px; min-width:80px; font-size:14px; line-height:22px; }
#fpmenu.fp_arrange   { position:absolute; bottom:20px; left:20px; min-width:310px; font-size:9px; border:1px solid gray;}
#startcontent {position:absolute; top:20px; left:180px; text-align:left; font-size: 16px; } 
table a:hover {font-weight:bold;}
#hdr     { position:absolute; top:10px; left:180px; border:1px solid gray; }
#content { position:absolute; top:50px; left:180px; bottom:10px; right:10px; text-align:center}
#errmsg { background-color: #000000; color: #FFFFFF; position:absolute; top:0px; left:40px; z-index: 10; }
a { color: #278727; }
img {  border-style: none; }
table { -moz-border-radius:8px; border-radius:8px; }

.fp_Grundriss   {border:0px solid gray;}

      .devicename     {font-size: 11px; text-align:center; }
      .devicestate    {text-align:center; }
      .devicecommands {font-size:14px; text-align:center; }
      .devicetimestamp{font-size:10px; text-align:center; }

#sz_Rollo.devicename     {font-size:14px;}
#sz_Rollo.devicecommands {font-size:12px; text-align:center; }
#ez_Aussensensor.devicestate  {color:green; font-size:30px; }
#HomeStatus.devicestate  {color:green; font-size:30px; }
table.dummy              {min-width:100px; }
table.FHT                {min-width:100px; }
#wakeup.devicestate      {color:green; font-size:11px; }
#ez_FHT.devicestate      {color:green; font-size:30px; }
#Home.fp_Grundriss       {font-size:14px; width:100px; }
#Home.fp_Media           {font-size:14px; text-align:left; }
#Media                   {font-size:14px; }
#Grundriss               {font-size:14px; text-align:left; }
.fp_tempvalue            {color:red; font-size:20px; }
.fp_humvalue             {color:blue; font-size:20px; } 

h2,h3,h4 { color:#52865D; line-height:1.3;
           margin-top:1.5em; font-family:Arial,Sans-serif; }


/* detail-selector & slider */
select {  margin-left:5px; margin-right:5px; }
.set,.attr { margin-bottom:5px; float:left; }
.slider { float:left; width:140px; height:26px; border:2px solid; color:grey; }
.set .slider { background:#F0F0D8; border-radius:8px; }
/* timepicker */
.set .set { margin-bottom:2px; margin-top:3px; }

.handle { position:relative; cursor:pointer; width:50px;
          height:20px; line-height:20px; user-select:none;
          border:3px solid; color:#278727; text-align:center; } 
.downText { margin-top:2px; }

/* next lines are for openautomation-svg */
svg { height:32px; width:32px; fill:#fff; }
g.on { fill:red; }

/* next lines are for remotecontrol */
.rc_body              { border-style: solid; border-color: gray; border-width: 2px; 
                        padding: 5px; background: #C8C8B0; font-size:6px;}
.rc_button            { padding: 5px 7px;}
.rc_button img        { border-style: solid; border-width: 1px; border-color: transparent; }
.rc_button img:active { border-color: gray; }
