/* Author: Volker 
     Edit: fhainz
*/
.background { fill:#e5e5e5; font-opacity: 0; }

text { font-family: Helvetica; font-weight:300; font-size:12px; fill:#343434;}
text.title {font-family: Helvetica; font-weight:300; font-size:16px; fill:#343434;}
text.copy { text-decoration:underline; stroke:none; fill:blue;}
text.paste { text-decoration:underline; stroke:none; fill:blue;}

polyline { stroke:black; fill:none; }
.border { stroke:black; fill:url(#gr_bg);}
.vgrid { stroke:gray; stroke-dasharray:2,6;}
.hgrid { stroke:gray; stroke-dasharray:2,6;}
.pasted { stroke:black; stroke-dasharray:1,1;}

.l0 { stroke:#fc3e39;     }  text.l0 { stroke:none; fill:#fc3e39;     } 
.l1 { stroke:#53d769;   }  text.l1 { stroke:none; fill:#53d769;   } 
.l2 { stroke:#157efb;    }  text.l2 { stroke:none; fill:#157efb;    }
.l3 { stroke:#c34ceb; }  text.l3 { stroke:none; fill:#c34ceb; }
.l4 { stroke:brown;   }  text.l4 { stroke:none; fill:brown;   }
.l5 { stroke:black;   }  text.l5 { stroke:none; fill:black;   }
.l6 { stroke:olive;   }  text.l6 { stroke:none; fill:olive;   }
.l7 { stroke:gray;    }  text.l7 { stroke:none; fill:gray;    }
.l8 { stroke:#f7ab28;  }  text.l8 { stroke:none; fill:#f7ab28;  }

.l0fill{ stroke:#fc3e39; fill:url(#gr_0); }  text.l0fill{ stroke:none; fill:#fc3e39; }
.l1fill{ stroke:#53d769; fill:url(#gr_1); }  text.l1fill{ stroke:none; fill:#53d769; }
.l2fill{ stroke:#157efb; fill:url(#gr_2); }  text.l2fill{ stroke:none; fill:#157efb; }
.l3fill{ stroke:#c34ceb; fill:url(#gr_3); }  text.l3fill{ stroke:none; fill:#c34ceb; }
.l4fill{ stroke:#ff0; fill:url(#gr_4); }  text.l4fill{ stroke:none; fill:#ff0; }
.l5fill{ stroke:#0ff; fill:url(#gr_5); }  text.l5fill{ stroke:none; fill:#0ff; }
.l6fill{ stroke:#000; fill:url(#gr_6); }  text.l6fill{ stroke:none; fill:#000; }
