/* Author: Volker Edit: fhainz */
text { font-family: Helvetica; font-weight:300; font-size:12px; fill:#343434;}
text.title {font-family: Helvetica; font-weight:300; font-size:16px; fill:#343434;}
text.legend{ cursor:pointer; }
text.copy  { text-decoration:underline; stroke:none; fill:blue; cursor:pointer;}
text.paste { text-decoration:underline; stroke:none; fill:blue; cursor:pointer;}

path.SVGplot     { stroke:black; fill:none; }
polyline.SVGplot { stroke:black; fill:none; }
.border { stroke:black; fill:url(#gr_bg);}
.vgrid { stroke:gray; stroke-dasharray:2,6;}
.hgrid { stroke:gray; stroke-dasharray:2,6;}
.pasted { stroke:black; stroke-dasharray:1,1;}

.SVGplot.l0     { stroke:#fc3e39; }
.SVGplot.l1     { stroke:#53d769; }
.SVGplot.l2     { stroke:#157efb; }
.SVGplot.l3     { stroke:#c34ceb; }
.SVGplot.l4     { stroke:brown;   }
.SVGplot.l5     { stroke:black;   }
.SVGplot.l6     { stroke:olive;   }
.SVGplot.l7     { stroke:gray;    }
.SVGplot.l8     { stroke:#f7ab28; }
.SVGplot.l0fill { stroke:#fc3e39; fill:url(#gr_0);    }
.SVGplot.l1fill { stroke:#53d769; fill:url(#gr_1);    }
.SVGplot.l2fill { stroke:#157efb; fill:url(#gr_2);    }
.SVGplot.l3fill { stroke:#c34ceb; fill:url(#gr_3);    }
.SVGplot.l4fill { stroke:#ff0; fill:url(#gr_4);       }
.SVGplot.l5fill { stroke:#0ff; fill:url(#gr_5);       }
.SVGplot.l6fill { stroke:#000; fill:url(#gr_6);       }
.SVGplot.l0dot  { stroke:red;   stroke-dasharray:2,4; }
.SVGplot.l1dot  { stroke:green; stroke-dasharray:2,4; }
.SVGplot.l0fill_stripe {stroke:red;   fill:url(#gr0_stripe); }
.SVGplot.l1fill_stripe {stroke:green; fill:url(#gr1_stripe); }
.SVGplot.l0fill_gyr    {stroke:red;   fill:url(#gr0_gyr);    }

text.SVGplot.l0     { stroke:none; fill:#fc3e39; } 
text.SVGplot.l1     { stroke:none; fill:#53d769; } 
text.SVGplot.l2     { stroke:none; fill:#157efb; }
text.SVGplot.l3     { stroke:none; fill:#c34ceb; }
text.SVGplot.l4     { stroke:none; fill:brown;   }
text.SVGplot.l5     { stroke:none; fill:black;   }
text.SVGplot.l6     { stroke:none; fill:olive;   }
text.SVGplot.l7     { stroke:none; fill:gray;    }
text.SVGplot.l8     { stroke:none; fill:#f7ab28; }
text.SVGplot.l0fill { stroke:none; fill:#fc3e39; }
text.SVGplot.l1fill { stroke:none; fill:#53d769; }
text.SVGplot.l2fill { stroke:none; fill:#157efb; }
text.SVGplot.l3fill { stroke:none; fill:#c34ceb; }
text.SVGplot.l4fill { stroke:none; fill:#ff0;    }
text.SVGplot.l5fill { stroke:none; fill:#0ff;    }
text.SVGplot.l6fill { stroke:none; fill:#000;    }
text.SVGplot.ldot   { stroke:none; fill:red;     } 
text.SVGplot.ldot   { stroke:none; fill:green;   } 
text.SVGplot.l0fill_stripe {stroke:none; fill:red;  }
text.SVGplot.l1fill_stripe {stroke:none; fill:green;}
text.SVGplot.l0fill_gyr    {stroke:none; fill:red;  }
