@import url("dashboard_ios7.css");
@import url("ios7style.css");

body { width: 1024px; }
table.block, table.FileList { width:760px; }

/* 
/* hdr alternate */
/* to reactive old hdr delete the last 2 chars --> */
.maininput{
  width: 70%;
}
/*hdr alternate end */