body     { background-color: #FFFFE7;
           font-family:Arial, sans-serif; font-size:16px;
         }
textarea { font-family:Arial, sans-serif; font-size:16px}
input    { font-family:Arial, sans-serif; font-size:16px}
select   { font-family:Arial, sans-serif; font-size:16px}
#logo    { position:absolute; top:10px; left:10px;
            width:100px;  height:105px; background-image:url(fhem.png); }
#menu    { position:absolute; top:120px;left:10px; width:100px; }
#hdr     { position:absolute; top:10px; left:140px; }
#content { position:absolute; top:50px; left:140px; bottom:20px; right:10px; }

.devType { padding-top:20px; }
a {  color: #278727; }

table.block { border:1px solid gray; width: 100%; background: #F8F8E0; }
table.block tr.odd { background: #F0F0D8; }
table.block tr.sel { background: #F0F0D8; }
table { -moz-border-radius:8px; border-radius:8px; }

.col1, .col2, .col3  { padding: 8px; }
.dname, .dval { padding: 8px; font-size: 14px; }

table#room { border:1px solid gray; width: 100%; background: #D7FFFF; }
table#room tr.sel { background: #A0FFFF; }
