#$Id$
# Diese Datei an einem Ort ablegen, den der user fhem lesen kann
# und dann diesen Ort im Attribut configFile hinterlegen. Beispiel:
# attr <rhasspy> configFile ./log/rhasspy-de.cfg
#
# "commaconversion", "units" und "mutated_vowels" sind optional, wenn nicht
# angegeben, werden die englischen Werte/Gepflogenheiten verwendet bzw. keine
# Ersetzungen vorgenommen.

{"default":
{
  "commaconversion": "1",
  "mutated_vowels": {
    "Ä": "Ae",
    "Ö": "Oe",
    "Ü": "Ue",
    "ß": "ss",
    "ä": "ae",
    "ö": "oe",
    "ü": "ue"
  },
  "units": {
      "unitHours" : {
          "0": "stunden",
          "1": "eine stunde"
      },
      "unitMinutes": {
          "0": "minuten",
          "1": "eine minute"
      },
      "unitSeconds": {
          "0": "sekunden",
          "1": "eine sekunde"
      }
   },
  "responses": {
    "DefaultConfirmation": "OK",
    "DefaultConfirmationTimeout": "Tut mir leid, da hat etwas zu lange gedauert",
    "DefaultConfirmationNoOutstanding": "warte grade nicht auf eine bestätigung",
    "DefaultCancelConfirmation": "Habe abgebrochen",
    "DefaultConfirmationReceived": "Ok, werde ich machen",
    "DefaultError": "Da ist leider etwas schief gegangen",
    "NoValidData": "Tut mir leid, aber ich habe zu wenig Daten um den Vorgang auszuführen",
    "NoDeviceFound": "Tut mir leid, ich konnte kein passendes Gerät finden",
    "NoMappingFound": "Tut mir leid, aber ich konnte kein passendes Mäpping finden",
    "NoNewValDerived": "Tut mir leid, aber ich konnte den Zielwert nicht ausrechnen",
    "NoActiveMediaDevice": "Tut mir leid, es ist kein Wiedergabegerät aktiv",
    "NoMediaChannelFound": "Tut mir leid, der angefragte Kanal scheint nicht zu existieren.",
    "duration_not_understood": "Tut mir leid, ich habe die Dauer nicht verstanden",
    "timerEnd": {
        "0": "$label abgelaufen",
        "1": "$label im raum $room abgelaufen"
    }, 
    "timerSet": {
        "0": "$label im Raum $room ist gestellt auf $seconds sekunden",
        "1": "$label im Raum $room ist gestellt auf $minutetext $seconds",
        "2": "$label im Raum $room ist gestellt auf $minutetext",
        "3": "$label im Raum $room ist gestellt auf $hours stunden $minutetext",
        "4": "$label im Raum $room ist gestellt auf $hours uhr $minutes",
        "5": "$label im Raum $room ist gestellt auf morgen, $hours uhr $minutes"
    },
    "timerCancellation": "$label im $room gelöscht",
    "timeRequest": "Es ist $hour Uhr $min",
    "weekdayRequest": "Heute ist $weekDay",
    "reSpeak_failed": "Tut mir leid, ich kann mich nicht erinnern",
    "Change": {
      "volume": "$deviceName ist auf $value gestellt",
      "brightness": "$deviceName ist auf $value gestellt",
      "temperature": {
        "0": "Die Temperatur von $location ist $value",
        "1": "Die Temperatur von $location beträgt $value Grad"
      },
      "desired-temp": "Die Solltemperatur von $location beträgt $value Grad",
      "battery": {
        "0": "Der Batteriestand von $location ist $value",
        "1": "Der Batteriestand von $location beträgt $value Prozent"
      },
      "waterLevel": "Der Wasserstand von $location beträgt $value Prozent",
      "airHumidity": "Die Luftfeuchtigkeit von $location beträgt $value Prozent",
      "soilMoisture": "Die Bodenfeuchte von $location beträgt $value Prozent",
      "setTarget": "$device ist auf $value gesetzt",
      "knownType": "$mappingType von $location beträgt $value Prozent",
      "unknownType": "Der Wert von $location beträgt $value Prozent"
    }
  },
  "stateResponses": {
    "onOff": {
      "0": "$deviceName ist ausgeschaltet",
      "1": "$deviceName ist eingeschaltet"
    },
    "openClose": {
      "0": "$deviceName ist geöffnet",
      "1": "$deviceName ist geschlossen"
    },
    "inOut": {
      "0": "$deviceName ist ausgefahren",
      "1": "$deviceName ist eingefahren"
    },
    "inOperation": {
      "0": "$deviceName ist fertig",
      "1": "$deviceName läuft noch"
    }
  }
},
"user":
{
  "units": {
      "unitSeconds": {
          "0": "Test einige Sekunden",
          "1": "Test genau eine Sekunde"
      }
  }

},
"slots": 
{
  "Colors":     "braun:20,
                grüngelb:90,
                blaurot:330,
                leichtes grüngelb:75,
                grünblau:210,
                rot:0,
                grün:120,
                magenta:300,
                indigo:255,
                dunkelgrün:120,
                leichtes blaurot:345,
                zinnober:15,
                cyan:180,
                leichtes grünblau:225,
                leichtes blaugrün:135,
                limett:105,
                orange:30,
                blaugrün:150,
                gelb:60,
                blau:240,
                blaumagenta:315,
                grüncyan:165,
                violett:270,
                blaucyan:195,
                rotmagenta:315,
                safran:45"
}
}