# Außentemperatur
get Outside.T cmd {"read BC OutsideTempBC"}
get Outside.T expect ".*"
get Outside.T postproc { sprintf("%5.2f °C",$_) }

# Heizkeis HC
get mode cmd {"read HC OperatingMode\n\000read HC Param1\n\000read vrs620 NameHC"}
get mode expect ".*"
get mode postproc { Vaillant_HC_mode_postproc("%NAME",$_,1) }

# Mischerkreis MIX
get mode2 cmd {"read MIX OperatingMode\n\000read MIX Param1\n\000read vrs620 NameMIX"}
get mode2 expect ".*"
get mode2 postproc { Vaillant_HC_mode_postproc("%NAME",$_,2) }

get state cmd {"read HC Status1\n\000read HC Status2a\n\000read MS StatusHC"}
get state expect ".*"
get state postproc { Vaillant_HC_state_postproc("%NAME",$_) }

get progMonday cmd {"read HC TimerProgMonday"}
get progMonday expect ".*"
get progMonday postproc { Vaillant_Timer($_); }

get progTuesday cmd {"read HC TimerProgTuesday"}
get progTuesday expect ".*"
get progTuesday postproc { Vaillant_Timer($_); }

get progWednesday cmd {"read HC TimerProgWednesday"}
get progWednesday expect ".*"
get progWednesday postproc { Vaillant_Timer($_); }

get progThursday cmd {"read HC TimerProgThursday"}
get progThursday expect ".*"
get progThursday postproc { Vaillant_Timer($_); }

get progFriday cmd {"read HC TimerProgFriday"}
get progFriday expect ".*"
get progFriday postproc { Vaillant_Timer($_); }

get progSaturday cmd {"read HC TimerProgSaturday"}
get progSaturday expect ".*"
get progSaturday postproc { Vaillant_Timer($_); }

get progSunday cmd {"read HC TimerProgSunday"}
get progSunday expect ".*"
get progSunday postproc { Vaillant_Timer($_); }

set Night.T cmd { write HC NightTemp %temp }
set Night.T params temp
set Night.T expect ".*"

set Cut.T cmd { write HC OutsideTempLimit %temp }
set Cut.T params temp
set Cut.T expect ".*"

set VL.T.min cmd { write HC MinFlowTemp %temp }
set VL.T.min params temp
set VL.T.min expect ".*"

set VL.T.max cmd { write HC MaxFlowTemp %temp }
set VL.T.max params temp
set VL.T.max expect ".*"
