body     { background-color: #FFFFE7;
           font-family:Arial, sans-serif; font-size:16px;
         }
textarea { font-family:Arial, sans-serif; font-size:16px}
input    { font-family:Arial, sans-serif; font-size:16px}
select   { font-family:Arial, sans-serif; font-size:16px}
#logo    { position:absolute; top:10px; left:10px;
            width:120px;  height:132px; background-image:url(../icons/fhemicon.png); }
#menu    { position:absolute; top:152px;left:10px; width:140px; }
#hdr     { position:absolute; top:10px; left:160px; }
#content { position:absolute; top:50px; left:160px; bottom:20px; right:10px; }
#connect_err { background-color: #000000; color: #FFFFFF; position:absolute; top:0px; left:40px; z-index: 10; }

.devType { padding-top:20px; }
a {  color: #278727; }

table.block { border:1px solid gray; width: 100%; background: #F8F8E0; }
table.block tr.odd { background: #F0F0D8; }
table.block tr.sel { background: #F0F0D8; }
table { -moz-border-radius:8px; border-radius:8px; }

.col1, .col2, .col3  { padding: 8px; }
.dname, .dval { padding: 8px; font-size: 14px; }

table#room { border:1px solid gray; width: 100%; background: #D7FFFF; }
table#room tr.sel { background: #A0FFFF; }

.set,.attr { margin-bottom:5px; float:left; }
.slider { float:right; width:250px; height:26px; background:#F0F0D8;
          margin-top:3px; margin-left:10px;
          -moz-border-radius:8px; border-radius:8px; }
.handle { position:absolute; cursor:pointer; width:50px; height:20px;
        line-height:20px; border:3px solid; color:#278727; text-align:center; } 
.downText { margin-top:6px; }
