text { font-family:Times; font-size:12px; }
text.title { font-size:16px; }
text.copy  { font-size:16px; stroke:none; fill:blue; }
text.paste { font-size:16px; stroke:none; fill:blue; }

.background { fill:#FFFFE7; }
.border { stroke:black; stroke-width:1px; }
polyline { stroke:black; fill:none; }

.vgrid { stroke-dasharray:2,6; stroke:gray; }
.hgrid { stroke-dasharray:2,6; stroke:gray; }

.l0 { stroke:red;     } text.l0 { stroke:none; fill:red; } 
.l1 { stroke:green;   } text.l1 { stroke:none; fill:green; } 
.l2 { stroke:blue;    } text.l2 { stroke:none; fill:blue; }
.l3 { stroke:magenta; } text.l3 { stroke:none; fill:magenta; }
.l4 { stroke:brown;   } text.l4 { stroke:none; fill:brown; }
.l5 { stroke:black;   } text.l5 { stroke:none; fill:black; }
.l6 { stroke:olive;   } text.l6 { stroke:none; fill:olive; }
.l7 { stroke:gray;    } text.l7 { stroke:none; fill:gray; }
.l8 { stroke:yellow;  } text.l8 { stroke:none; fill:yellow; }
.pasted { stroke-dasharray:1,1; stroke:black; }
