body   { background-color: #FFFFE7;}
a      {  color: #278727; }

#logo  { position:fixed; top:20px; left:20px;
            width:100px;  height:105px; background-image:url(fhem.png); }
#menu  { position:fixed; top:140px;left:20px; width:140px; }
#right { position:fixed; top:20px; left:170px; bottom:20px; right:10px;
         overflow: auto; }
h2,h3,h4 { color:#52865D; line-height:1.3;
           margin-top:1.5em; font-family:Arial,Sans-serif; }
div#block { border:1px solid gray; background: #F8F8E0; padding:0.7em; }
div#dist { padding-top:0.3em; }

