body { color: black; background: #FFFFD7; }

table { -moz-border-radius:8px; }
table { border:thin solid; width: 100%; background: #EAEAEA; }
table tr.odd { background: #F5F5F5; }


table.room { border:thin solid; width: 100%; background: #D7FFFF; }
table.room tr.sel { background: #A0FFFF; }

table.at { border:thin solid; width: 100%; background: #FFFFC0; }
table.at tr.odd { background: #FFFFD7; }

table.notify { border:thin solid; width: 100%; background: #D7D7A0; }
table.notify tr.odd { background: #FFFFC0; }

table.FileLog { border:thin solid; width: 100%; background: #FFC0C0; }
table.FileLog tr.odd { background: #FFD7D7; }

table._internal_ { border:thin solid; width: 100%; background: #EAEAEA; }
table._internal_ tr.odd { background: #F5F5F5; }

table.FS20 { border:thin solid; width: 100%; background: #C0FFFF; }
table.FS20 tr.odd { background: #D7FFFF; }

table.IT { border:thin solid; width: 100%; background: #C0FFFF; }
table.IT tr.odd { background: #D7FFFF; }

table.FHT { border:thin solid; width: 100%; background: #FFC0C0; }
table.FHT  tr.odd { background: #FFD7D7; }

table.KS300 { border:thin solid; width: 100%; background: #C0FFC0; }
table.KS300 tr.odd { background: #A7FFA7; }

table.FHZ { border:thin solid; width: 100%; background: #C0C0C0; }
table.FHZ tr.odd { background: #D7D7D7; }

table.EM { border:thin solid; width: 100%; background: #E0E0E0; }
table.EM tr.odd { background: #F0F0F0; }

table.FHEMWEB { border:thin solid; width: 100%; background: #E0E0E0; }
table.FHEMWEB tr.odd { background: #F0F0F0; }

table.FHEMRENDERER { border:thin solid; width: 100%; background: #E0E0E0; }
table.FHEMRENDERER tr.odd { background: #F0F0F0; }

#hdr   { position:absolute; top:10px; left:10px; }
#left  { position:absolute; top:50px; left:10px; width:130px; }
#right { position:absolute; top:50px; left:160px;
         right:10px; bottom:10px; overflow:auto; }
